<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aplikasi.tubesss">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tubesss">
      
        <activity android:name=".optionmenu.SettingActivity"
            android:parentActivityName=".MainMenu"/>
        <activity android:name=".optionmenu.Setting"
            android:parentActivityName=".optionmenu.SettingActivity"/>
        <activity android:name=".optionmenu.HelpActivity"
            android:parentActivityName=".optionmenu.SettingActivity"/>
        <activity android:name=".optionmenu.AboutActivity"
            android:parentActivityName=".optionmenu.SettingActivity"/>

        <activity
            android:name=".MenghitungTrpsm"
            android:parentActivityName=".MenuHitungBDTR" />
        <activity
            android:name=".MenghitungSgtg"
            android:parentActivityName=".MenuHitungBDTR" />
        <activity
            android:name=".MenghitungPsgPjg"
            android:parentActivityName=".MenuHitungBDTR" />
        <activity
            android:name=".MenghitungLingkrn"
            android:parentActivityName=".MenuHitungBDTR" />
        <activity
            android:name=".MenghitungPersegi"
            android:parentActivityName=".MenuHitungBDTR" />
        <activity
            android:name=".WeatherApps"
            android:parentActivityName=".MainMenu" />
        <activity android:name=".MainMenu" />
        <activity
            android:name=".MenuHitungBDTR"
            android:parentActivityName=".MainMenu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>